<header class="header">
	<div class="header-info">
		<div class="header-info__name">
			<div class="name-img">
				<img src="https://lks.volgatech.net/Images/logo.png" alt="лого">
			</div>
			<div class="name-all">
				<p class="name-all__protal">корпоративый портал</p>
				<p class="name-all__uni">поволжского государственного технологического университета</p>
			</div>
		</div>
		<div class="header-info__person">
			<div class="person-fio">
				<div class="person-fio__img">
					<img src="http://tebefest.ru/public/avatar/no.png" alt="фото" width="30" height="35">
				</div>
				<div class="person-fio__info">
					<p class="info-name">фамилия имя отчество</p>
					<a href="" class="info-link">Личный кабинет</a>
				</div>
			</div>
			<div class="person-search">
				<input type="text" value="Поиск на сайте">
			</div>
		</div>
	</div>
</header>
<main class="main">
	<div class="menu">
		<ul class="menu-list">
			<li class="menu-list__item">
				<a href="" class="item-link">Сведения обо мне</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Мои задачи</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Мои события</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Мои документы</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Фотогалерея</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Обсуждения</a>
			</li>
			<li class="menu-list__item">
				<a href="" class="item-link">Вакансии</a>
			</li>
		</ul>
	</div>
	<div class="vacancy">
		<div class="vacancy-header">
			<h1 class="vacancy-header__txt">Вакансии</h1>
			<div class="vacancy-header__ctg">
				<ul class="ctg-list">
					<li class="ctg-list__item">
						<a class="item-btn active" (click)="selectCtg(1)">
							<span>Все категории</span>
						</a>
					</li>
					<li class="ctg-list__item">
						<a class="item-btn" (click)="selectCtg(2)">
							<span>Подработка</span>
						</a>
					</li>
					<li class="ctg-list__item">
						<a class="item-btn" (click)="selectCtg(2)">
							<span>Трудоустройство (постоянная работа)</span>
						</a>
					</li>
					<li class="ctg-list__item">
						<a class="item-btn" (click)="selectCtg(2)">
							<span>Практика, стажировка</span>
						</a>
					</li>
					<li class="ctg-list__item">
						<a class="item-btn" (click)="selectCtg(2)">
							<span>Конкурсы, группы</span>
						</a>
					</li>
					<li class="ctg-list__item">
						<a class="item-btn" (click)="selectCtg(2)">
							<span>Другое</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="vacancy-filter" *ngIf="vacancyAdd && vacancyMore">
			<form action="" #filterPOST="ngForm" (ngSubmit)="filterVacancy(filterPOST.value)">
				<div class="vacancy-filter__section">
					<div class="section-ctg">
						<span class="section-ctg__txt">Категория</span>
						<select ngModel name="category">
							<option value="Default"></option>
							<option value="Подработка">Подработка</option>
							<option value="Трудоустройство (постоянная работа)">Трудоустройство (постоянная работа)</option>
							<option value="Практика, стажировка">Практика, стажировка</option>
							<option value="Конкурс, группы">Конкурс, группы</option>
							<option value="Другое">Другое</option>
						</select>
					</div>
					<div class="section-spc">
						<span class="section-spc__txt">Интересуемые специальности</span>
						<select ngModel name="spc">
							<option value=""></option>
							<option value="Наименование специальности 1">Наименование специальности 1</option>
							<option value="Наименование специальности 2">Наименование специальности 2</option>
							<option value="Наименование специальности 3">Наименование специальности 3</option>
						</select>
					</div>
				</div>
				<div class="vacancy-filter__select">
					<div class="select-date">
						<p class="select-date__txt">Период для отображения вакансий по дате добавления</p>
						<div class="select-date__input">
							<span class="input-txt">Дата начала</span>
							<kendo-datepicker [(value)]="startDate" [navigation]="false" [format]="formatDate" ngModel
								name="startDate" class="input-in"></kendo-datepicker>
							<span class="input-txt">Дата окончания</span>
							<kendo-datepicker [(value)]="endDate" [navigation]="false" [format]="formatDate" ngModel
								name="endDate" class="input-in"></kendo-datepicker>
						</div>
					</div>
					<div class="select-btn">
						<button class="select-btn__clear" (click)="clearFilter()">
							<span class="clear-txt">Очистить фильтры</span>
						</button>
						<button class="select-btn__apply" type="submit">
							<span class="apply-txt">Применить</span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="vacancy-add">
			<div class="vacancy-add__btn">
				<button class="btn-add" *ngIf="vacancyAdd && vacancyMore" (click)="addBtnVacancy()">
					<span class="btn-add__txt">Добавить вакансию</span>
				</button>
			</div>
			<div class="vacancy-add__form" *ngIf="!vacancyAdd">
				<div class="form-header">
					<h1 class="form-header__txt">Вакансия</h1>
				</div>
				<form action="" class="form" #vacancyPost="ngForm" (ngSubmit)="createVacancy(vacancyPost.value)">
					<div class="form-position">
						<label for="">Должность:*</label>
						<input required required type="text" ngModel name="position">
					</div>
					<div class="form-position">
						<label for="">Категория:*</label>
						<select required ngModel  name="category">
							<option value="Default"></option>
							<option value="Подработка">Подработка</option>
							<option value="Трудоустройство (постоянная работа)">Трудоустройство (постоянная работа)</option>
							<option value="Практика, стажировка">Практика, стажировка</option>
							<option value="Конкурс, группы">Конкурс, группы</option>
							<option value="Другое">Другое</option>
						</select>
					</div>
					<div class="form-position">
						<label for="">Профиль деятельности:</label>
						<input type="text" ngModel name="profile">
					</div>
					<div class="form-position">
						<label for="">Интересуемые специальности:</label>
						<select ngModel name="spc">
							<option value=""></option>
							<option value="Наименование специальности 1">Наименование специальности 1</option>
							<option value="Наименование специальности 2">Наименование специальности 2</option>
							<option value="Наименование специальности 3">Наименование специальности 3</option>
						</select>
					</div>
					<div class="form-position">
						<label for="">Заработная плата:</label>
						<input type="text" ngModel name="salary">
					</div>
					<div class="form-position">
						<label for="">Требуемый опыт работы:</label>
						<input type="text" ngModel name="expirience">
					</div>
					<div class="form-position">
						<label for="">График:</label>
						<input type="text" ngModel name="graph">
					</div>
					<div class="form-position">
						<label for="">Наименование организации:</label>
						<input type="text" ngModel name="nameOrg">
					</div>
					<div class="form-position">
						<label for="">Адрес организации:</label>
						<input type="text" ngModel name="addressOrg">
					</div>
					<div class="form-position">
						<label for="">Контактные данные:</label>
						<input type="text" ngModel name="contactsOrg">
					</div>
					<div class="form-position">
						<label for="">Описание вакансии:</label>
						<textarea ngModel name="descriptionVacancy" style="height: 106px;">(Описание вакансии)</textarea>
					</div>
					<div class="form-position">
						<label for="">Требования:</label>
						<textarea ngModel name="requirements"
							style="height: 84px;">(Описание требований к работнику по вакансии)</textarea>
					</div>
					<div class="form-position">
						<label for="">Условия:</label>
						<textarea ngModel name="conditions"
							style="height: 100px;">(Описание условий работы по вакансии)</textarea>
					</div>
					<div class="form-position">
						<label for="">Обязанности:</label>
						<textarea ngModel name="responsibilities"
							style="height: 124px;">(Описание обязанностей по вакансии)</textarea>
					</div>
					<div class="form-position">
						<label for="">Ключевые навыки:</label>
						<textarea ngModel name="skills"
							style="height: 60px;">(Описание ключевых навыков для должности по вакансии)</textarea>
					</div>
					<div class="form-btn">
						<button class="form-btn__cancel" type="button" (click)="addBtnVacancy()">
							<span class="cancel-txt">Отмена</span>
						</button>
						<button required class="form-btn__save" type="submit" [disabled]="vacancyPost.invalid">
							<span class="save-txt">Сохранить</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="vacancy-list" *ngIf="vacancyAdd">
			<app-component *ngFor="let vacancy of vacancyList; let i = index" [data]="vacancy">
				<div class="vacancy-list__about">
					<div class="about-vacancy" *ngIf="vacancyMore && filter">
						<div class="about-vacancy__info">
							<div class="info-like">
								<span class="info-like__head" (click)="moreInfoVacancy(vacancy.id)"><a href="#top">{{ vacancy.position
									}}</a></span>
								<p class="info-like__txt">Категория: {{ vacancy.category }}</p>
								<p class="info-like__txt">Профиль деятельности: {{ vacancy.profile }}</p>
								<p class="info-like__txt">Интересуемые специальности: {{ vacancy.spc }}</p>
							</div>
							<div class="info-description">
								<p class="info-description__salary">{{ vacancy.salary }}&nbsp;<span
										class="salary-txt">(зарплата)</span>
								</p>
								<p class="info-description__txt">
									{{ vacancy.descriptionVacancy }}
								</p>
							</div>
							<div class="info-org">
								<h1 class="info-org__name">{{ vacancy.nameOrg }}</h1>
								<p class="info-org__address">{{ vacancy.addressOrg }}</p>
								<p class="info-org__contacts">{{ vacancy.contactsOrg }}</p>
							</div>
						</div>
						<div class="about-vacancy__now">
							<div class="now-questions">
								<a href="" class="now-questions__txt">Новые вопросы по вакансии: <span>3</span></a>
							</div>
							<div class="now-date">
								<p class="now-date__txt">{{ vacancy.date | date: 'dd.MM.yyyy' }}</p>
							</div>
						</div>
					</div>
					<div class="about-more" [ngSwitch]="amount">
						<div class="about-more__form" *ngSwitchCase="vacancy.id">
							<div class="form-header">
								<h1 class="form-header__txt" id="top">Вакансия</h1>
							</div>
							<form action="" class="form" #vacancyGet="ngForm"
								(ngSubmit)="changeVacancy(vacancyGet.value, vacancy)">
								<div class="form-position">
									<label for="">Должность:*</label>
									<input type="text" value="5" name="position" [(ngModel)]="vacancy.position">
								</div>
								<div class="form-position">
									<label for="">Категория:*</label>
									<select ngModel name="category" [(ngModel)]="vacancy.category">
										<option value=""></option>
										<option value="Подработка">Подработка</option>
										<option value="Трудоустройство (постоянная работа)">Трудоустройство (постоянная работа)
										</option>
										<option value="Практика, стажировка">Практика, стажировка</option>
										<option value="Конкурс, группы">Конкурс, группы</option>
										<option value="Другое">Другое</option>
									</select>
								</div>
								<div class="form-position">
									<label for="">Профиль деятельности:</label>
									<input type="text" value="profile" name="profile" [(ngModel)]="vacancy.profile">
								</div>
								<div class="form-position">
									<label for="">Интересуемые специальности:</label>
									<select ngModel name="spc" [(ngModel)]="vacancy.spc">
										<option value=""></option>
										<option value="Наименование специальности 1">Наименование специальности 1</option>
										<option value="Наименование специальности 2">Наименование специальности 2</option>
										<option value="Наименование специальности 3">Наименование специальности 3</option>
									</select>
								</div>
								<div class="form-position">
									<label for="">Заработная плата:</label>
									<input type="text" value="salary" name="salary" [(ngModel)]="vacancy.salary">
								</div>
								<div class="form-position">
									<label for="">Требуемый опыт работы:</label>
									<input type="text" value="expirience" name="expirience" [(ngModel)]="vacancy.expirience">
								</div>
								<div class="form-position">
									<label for="">График:</label>
									<input type="text" value="graph" name="graph" [(ngModel)]="vacancy.expirience">
								</div>
								<div class="form-position">
									<label for="">Наименование организации:</label>
									<input type="text" value="nameOrg" name="nameOrg" [(ngModel)]="vacancy.nameOrg">
								</div>
								<div class="form-position">
									<label for="">Адрес организации:</label>
									<input type="text" value="addressOrg" name="addressOrg" [(ngModel)]="vacancy.addressOrg">
								</div>
								<div class="form-position">
									<label for="">Контактные данные:</label>
									<input type="text" value="contactsOrg" name="contactsOrg" [(ngModel)]="vacancy.contactsOrg">
								</div>
								<div class="form-position">
									<label for="">Описание вакансии:</label>
									<textarea name="" style="height: 106px;" placeholder="(Описание вакансии)"
										name="descriptionVacancy" [(ngModel)]="vacancy.descriptionVacancy"></textarea>
								</div>
								<div class="form-position">
									<label for="">Требования:</label>
									<textarea name="" style="height: 84px;"
										placeholder="(Описание требований к работнику по вакансии)" name="requirements"
										[(ngModel)]="vacancy.requirements"></textarea>
								</div>
								<div class="form-position">
									<label for="">Условия:</label>
									<textarea name="" style="height: 100px;" placeholder="(Описание условий работы по вакансии)"
										name="conditions" [(ngModel)]="vacancy.conditions"></textarea>
								</div>
								<div class="form-position">
									<label for="">Обязанности:</label>
									<textarea name="" style="height: 124px;" placeholder="(Описание обязанностей по вакансии)"
										name="responsibilities" [(ngModel)]="vacancy.responsibilities"></textarea>
								</div>
								<div class="form-position">
									<label for="">Ключевые навыки:</label>
									<textarea name="" style="height: 60px;"
										placeholder="(Описание ключевых навыков для должности по вакансии)" name="skills"
										[(ngModel)]="vacancy.skills"></textarea>
								</div>
								<div class="form-btn">
									<a class="form-btn__cancel" (click)="cancelVacancy()">
										<span class="cancel-txt">Закрыть</span>
									</a>
									<a class="form-btn__del">
										<span class="cancel-txt" (click)="delVacancy(vacancy)">Удалить</span>
									</a>
									<button class="form-btn__save" type="submit">
										<span class="save-txt">Сохранить</span>
									</button>
								</div>
								<div class="form-questions">
									<a href="" class="form-questions__txt">Новые вопросы по вакансии: <span>3</span></a>
								</div>
								<div class="form-stat">
									<h1 class="form-stat__header">Статистика по вакансии</h1>
									<div class="form-stat__block">
										<div class="block-like">
											<p class="block-like__txt">Заинтересованы:</p>
											<a href="" class="block-like__link">14</a>
										</div>
										<div class="block-like">
											<p class="block-like__txt">Не заинтересованы:</p>
											<a href="" class="block-like__link">14</a>
										</div>
										<div class="block-like">
											<p class="block-like__txt">Возможно заинтересованы:</p>
											<a href="" class="block-like__link">14</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</app-component>
			<div class="vacancy-list__radio" *ngIf="vacancyMore">
				<div class="radio-btn">
					<kendo-datapager style="width: 100%" [pageSize]="pageSize" [pageSizeValues]="false" [skip]="skip" [total]="total"
					(pageChange)="onPageChange($event)"></kendo-datapager>
				</div>
			</div>
		</div>
	</div>
</main>